*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .sectionTitle {
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #4D4D4D;
    min-width: 15%;
    max-width: 50%;
    color: white;
    font-size: 30px;
}



.homeImg{
    margin-top:30px;
    margin-left:30px;
}

.homeContent{
    margin-top:30px;
    margin-left:30px;
    padding: 10px;
    line-height: 30px;
}

.resumeLink{
    font-size: 20px;
    margin-left: 30px;
    margin-top:30px;
}

.resumeDownload{
    font-size: 20px;
    margin-left: 30px;
    margin-top:30px;
}

.contactSection{
    margin-left: 30px;
    margin-top:30px; 
}

#pdfIcon{
    background-color: #0275d8;
}

.projectCard{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:-90px;
}

.projectImg{
    object-fit: cover;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
}

/*I almost definitely did something wrong when setting the global background color, hence manually setting all these elements. Didn't have time to figure out the real problem.*/

.projectBody{
    background-color: white; 
}

.projectDesc{
    background-color: white; 
}


.projectTitle{
    background-color: white; 
}

.projectTech{
    background-color: white; 
}

.projectLink{
    background-color: #6c757d;
    color: white;
    text-decoration: none;
}

.projectLink:hover{
    opacity:50%
}