*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFF4E0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header{
  background-color: #4D4D4D;
  padding: 50px;
}



header ul h1 {
  min-width: 100%;
  background-color: #4D4D4D;
  color: white
}

header ul li{
  list-style: none;
  background-color: #4D4D4D;
  color:white;
  padding: 20px;
  display: inline-block;

  float: right;
  margin-right: 100px;
  margin-top: -50px;
  font-size: 20px
}

header ul li:hover{
  opacity: 50%
}



footer ul li {
  list-style: none;
  background-color: #4D4D4D;
  color:white;
  padding: 20px;
  display: inline-block;
  min-width: 100%;
  text-align: center;
}

footer ul li a {
  background-color: #4D4D4D;
  display: inline-block;
  color: white;
  text-decoration: none;
}

footer ul li a:hover{
  opacity:50%
}

footer{
  background-color: #4D4D4D;
  padding: 10px;
} */


footer{
  background-color: #4D4D4D;
  padding: 10px;
}

footer a {
  background-color: #4D4D4D;
  display: inline-block;
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
}

header ul li h1{
  background-color: #4D4D4D;
  color: white;
}

.list-group .list-group-item{
  background-color: #4D4D4D;
  color: white;
}

.list-group .link:hover{
  opacity: 50%;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%
}

main {
  margin-bottom: 80px;
}